<div class="row">
    <div class="col-md-6">
        <img src="img/codeit.png" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>And Here I am..</h2>
        <p>
            I am a Fresh Graduate from California State University, Fresno. By graduating in this May with a Bachelor's Degree in Computer Science, I am all geared up to venture into corporate spectrum to showcase my skillset.
        </p>
        <p>
            I have cultivated my skills in technologies corresponding to Full-Stack and MEAN stack  Development. In addition, coding languages like C++, Javascript, Java and Python contribute to my skillset. I am also setting up a strong base in currently booming technologies with React, AngularJS2 and NodeJS. I also have a solid foundation in techniques of understanding, analyzing and implementing algorithms and data structures, being my forte.
        </p>
        <p>
            To svelte this skillset, further experiences have helped:
            <li>
                Internship in Citrio Technology Solution Pvt. Ltd., Mumbai, India as an Application Developer Intern working on Mobile application development using Cross-Platform Development tool – Phonegap.
            </li>
            <li>
                Developing a full-stack based website supporting data about cars and their 3D-models.
            </li>
            <li>
                A three tier (Website-Server-App) live project for a group of doctors and their patients helping on prognosis of medical conditions by collecting data daily from patient via Mobile App.
            </li>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a href="www.twitter.com" class="btn btn-info btn-block">
            <i class="fa fa-twitter fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="www.facebook.com" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="www.youtube.com" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-5x"></i>
        </a>
    </div>
</div>